<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div id="wrapper">
        <div id="container">
            <h3>Submitted Info</h3>
            <p>Name: @ViewBag.Name</p>
            <p>Dojo Location: @ViewBag.Location</p>
            <p>Favorite Language: @ViewBag.Fav</p>
            <p>Comment: @ViewBag.Comment</p>
        </div>
    </div>
</body>
</html>